body{
    margin: 0px 0px;
    background:#464F51;
}
.main-ribbon{
    background:#D68FD6;
    margin-bottom: 30px;
    
}


.main-color{
    color:#000009;
    font-size: larger;
    font-weight: bold;
    text-shadow: 1px 1px white;
    /* display:block; */
    background:#D68FD6
}
.text-color{
    color:#DEFFF2;
    font-size: larger;
    font-weight: bold;
    text-shadow: 1px 1px white;
    text-align:center;
    border-bottom: 2px solid white;;
    
}
.secondary-color{
    color:#464F51;
}

.bar{
    margin:4px;
    background:white;
    padding:1px;
    
}
.navbar-nav{
    background: black;
    
}


@media screen and (min-width: 768px) {
    .navbar-toggler{
        display:none;
    }
    
}
@media screen and (max-width: 678px) {
    .navbar-brand,.text-color{
        font-size: 0.8em;
    }
}
.main-head{
    color:#0FF4C6;
}



.para{
    padding:10px;
    background:#DEFFF2;
    margin-bottom:5px
}
.chicken-head{
    text-align: center;
}
.main-head{
    text-align: center;
}



